*.class
*.lst
**/models/**
**/data/**
**/.idea/**
*.tar.gz
**/log.txt

__pycache__/
tmp/
*.log
*.raw.txt

# 別リポジトリ管理のため
/JSExtractor/JSExtractor/

# 対象データセット
**/outputs/**

# 結果
**/results/**

# テスト用
**/target/**

# 類似度結果
**/similarity/**
